 
 /* MODALS */
.ReactModal__Content, .ReactModal__Content--after-open {
    position: absolute;
    top: 100 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    border: none !important;
    width: 80% !important;
    height: 600px !important;
  }
  .ReactModal__Overlay, .ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0,0.6) !important;
    z-index: 999;
  }
  .shopProductPicsModal{
      width: 80%;
      height: 400px;
  }
  .modalProductDetailSect{
      margin-top: 40px;
      margin-bottom: 40px 
      !important;
  }
  .shopProductIngredientPics{
      width: 100%;
      display: block;
      height: 100%;
  }
 
  /*  Carousel */

.slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .slider-wrapper {
    position: relative;
    height: 450px;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 49%;
    right: 550px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 49%;
    left: 85px;
    z-index: 999;
    color: #fff;
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }
  


/* General */
h1,h2{
    font-family: 'Montserrat', sans-serif !important;
}
p,h3,h4,h5,h6{
    color:  #6D6E71;
}

/* TOASTIFY POP-UP */
.Toastify__toast-container--bottom-center{
        bottom: 22em !important;        
    }
.Toastify__toast--default {
        background: black !important;
        color: #EC2B2C !important;
        font: bolder !important;
    }

.Toastify__close-button--default{
        color: #EC2B2C !important;
    }

    
/* Shopify Components */

    .itemDeleter{
        margin-left: 20px;
    }
    .productMobileChange{
        margin-left: 0px !important;
    }
    .qtyMobileChange{
        margin-left: 90px !important;
    }
    .subtotalMobileChange{
        margin-left: 65px !important;
    }


/* NAV */
.cartContainer{
    
    position: relative;
}
.cartItemsNumber{
    top: -3px;
    right: 84px;
    position: absolute;
}

#cartContainerMobile{
    position: relative;
    height: 20px;   
}
.mobileLinksNav{
    padding-left: 10px !important;
}
#cartItemsNumberMobile{
    top: 0px;
    left:23px;
    position: absolute;
}
#mobileMenu{   
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#logo-nav{
    width: 75px;
    height: 50px;    
}
.uk-navbar-nav>li>a{
    font-family: 'Source Sans Pro', sans-serif !important;
}
.uk-link, a:hover{
    text-decoration: none;
}
.uk-offcanvas-content{
    /* height:850px; */
}
#mobileNarbar{
    background-color: #EC2B2C;
}
#secondNAvBar::before{
    background-color: black !important;
    width: 100% !important;
}
.uk-sticky-placeholder{
    content: none !important;
}


/* CRICKET FLOUR PAGE */

#flourWrapper3{
    background-color: black;
}
#flourWrapper5{
    background-color: #EAEAEB;
}
#flourWrapper6{
    background: linear-gradient(180deg, #EAEAEB 70%, white 30%);
}
#instagramcontainer{
    background-color: white;
}
#flourWrapper7{
    background-color: #4B4118;
}
.flourIcons{
    width: 120px;
    height: 120px;
}
.cricketFlourTopPics{
   height: 225px;
   padding-right: 20px;
   padding-left: 60px;
}
.crickFlourMainTextLinks{
    color: #F05529;
}

/* CONTACT */

#contactPic{
    background: url('./images/Baiobar_Website_Connect_Main Header Image.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    background-position-y: 1px;
  
    
}
#contactPage{
    background-color: #4B4118;
}

/* ABOUT */

#aboutWrapper1{
    background: url('./images/about us main header.jpg') no-repeat center center ;
  -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        height: 800px;
        
}
#aboutWrapper2{
    background: linear-gradient(360deg, white 68%, #EAEAEB 32%);
}
.specialAboutContainer{
    margin-right: 40px;
    margin-left: 40px;
}
.specialAboutContainer2{
    margin-right: 300px;
    margin-left: 200px
}
#aboutWrapper5{
    background-color: #EAEAEB;
}
.aboutMiddlePicsSmall{
    height: 230px;
    width: 100%;
}
.aboutMiddlePicsLarge{
    height: 500px;
    width: 100%;
}
.whatsNextPic{
    padding-left: 50px;
    height: 450px
}

/* HOME */

.baiobarWordsPic{
    height: 80px;
    width: 250px;
}

#homeWrapper1{
    background: url('./images/baiobar home main header image_3.jpg') no-repeat ;
    /* background-position: right bottom;
    background-size: 100% 100% !important;
    -webkit-background-size:   70% 70% !important;
    -moz-background-size:   70% 70% !important;
     -o-background-size:   70% 70% !important;
     height: 650px;  */
     background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:   cover;
  -moz-background-size:  cover;
   -o-background-size:  cover;
  height: 650px;
  
}
#homeWrapper1Inside{
    background-color: #F05529;
}

#homeWrapper8{
    background: linear-gradient(180deg, white 50%, #EAEAEB 50%);
}
#homeNewsletterdiv{
    background-color: #F3CC35;
}
#homeWrapper5{
    background-color: #EAEAEB;
}
#product1Div{
    background-color: #F3CC35;
}
#productCards{
    position: relative;
}
#homeProductBadge{
    top: 0px;
    right: 0px;
    position: absolute;
}
.homeIcons{
    width: 125px;
    height: 125px;
}
.iconParas{
    margin-left: -50px !important;
    padding-right: 60px;
}
.newBadgeImage{
    height: 50px;
}
.allButtons{
    width: 290px;
}
.SubmitButtons{
width: 190px;
}
.buyButtons{
    width: 190px;
}
#homeSpacetaker{
    background: url('./images/Mountain\ Image.jpg') no-repeat ;
    background-position: center;
    background-size: cover  !important;
    -webkit-background-size:  cover !important;
    -moz-background-size:  cover !important;
     -o-background-size:   cover  !important;
}
.homePicSpecialContainer{
    margin-bottom: 500px;
}
.ingredientLogoText{
    width: 135px;
    height: 45px;
}
.ingredientPics{    
    width: 100%;
    display: block;
    height: 100%;
    margin-top: -100px;
}
.ingredientPics2{  
    width: 100%;
    display: block;  
    height: 100%;
    margin-top: -150px;
}
.ingredientPics3{    
    width: 100%;
    display: block;
    height:100%;
    margin-top: -150px;
}
.newsLetterForm{
    width: 350px;    
}
.newsLetterPic{
    width: 13%
}
.inputNewsBody{
    border-radius: 40px !important;
}
.uk-form-icon-flip~.uk-input{
    padding-right: 60px !important
}

/* Instagram Component */
.instagramPics{
    width: 100%;
    display: block;
    height: 100%;
}


/* SHOP */
.shopspecialContainer{
    margin-right: 50px;
    margin-left: 50px;
}
#shopMainHeaderPic{
    background: url('./images/Baiobar_Website_Shop_Main Header Image.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 800px;
}
.shopLifestyleImages{
    display: block;
    height: 100% !important;
    width: 100%!important;
    padding: 20px;
}



/* shopping Cart */
#checkoutWrapper2{
    background-color: #EAEAEB;
}
.uk-checkbox{
    background-color: white;
    color: white;
}
#productPics{
    width: 150px !important;
    height: 150px !important;
}
#inShoppingCartPics{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:135px;
}
#shoppingCartClearButton{
    margin-top: 20px;
}


/* PRODUCTSsHOP */
#productWrapper2{
    background-color: #EAEAEB;
}
.shopProductPics{
   width: 100% !important;
   height: 70% !important;
}

.shopProductsDivs{
    padding-right: 80px;
    padding-left: 40px;
}
/* Footer */
.footerLogo{
    width: 75px;
    height: 50px;
}
.footerPaymentPic{
    width: 300px;
}

#shopProductMain{
    overflow: hidden !important;
}


/* mobile */
@media only screen and (max-width: 960px) { 
     /* MODALS */
    .ReactModal__Content, .ReactModal__Content--after-open {
        position: absolute;
        top: 100 !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        border: none !important;
        width: 90% !important;
        height: 600px !important;
    }
    .shopProductPicsModal{
        width: 80%;
        height: 400px;
    }
    .modalProductDetailSect{
        margin-top: 20px;
        margin-bottom: 20px 
        !important;
    }
   


    #mobileHeader{
        width: 50% !important;
    }

    /* Carousel */
    .nextArrow {
        position: absolute;
        top: 49%;
        right: 25px;
        z-index: 999;
        color: #fff;
      }
      
      .backArrow {
        position: absolute;
        top: 49%;
        left: 25px;
        z-index: 999;
        color: #fff;
      }
  
      

    /* shopify components */
    #cartShopify{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
 
   .mobileShoppingCartChange{
       padding-right: 0px !important;
       padding-left: 10px !important;
   }
   .subtotalMobileChange{
       margin-left: 83px !important;
   }
   .productMobileChange{
       margin-left: 60px !important;
   }
   #productPageLargeText{
       font-size: 50px !important;
   }
   #BaioButton{
       font-size: 10px !important;
   }
   #challengeQuo{
       font-size: 20px !important;
   }
   #formLastName{
       padding-left: 0px !important;
   }
  #emailInput{
    padding-left: 0px !important;
  }
  .homeHeader1{
      font-size: 70px !important;
  }
  .contactFormAdjust{
    padding-left: 0px !important;

  }
  .contactMobileAdjust{
      padding-top: 20px !important;
  }
  .challengeQuo1{
      font-size: 18px !important;
      padding-right: 0px !important;
      margin-right: 0px !important; 
  }
  .workDamnit{
      margin: none !important;
      width: 30px;
      height: 30px;
      
  }
 
 .shoppingMobileMargin{
     margin-top: 20px;
 }
 .productCardsMobile{
 padding: 0px !important;
 margin-left: 30px !important;
 }
 .qtyMobileChange{
     margin-left: -15px !important;
 }
 #lineItemContainer{
    margin-right: 0px !important;
    margin-left: -30px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#inShoppingCartPics{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
    height: 150px;
}

 /* Instagram Component */
.instagramPics{
    width: 100%;
        display: block;
        height: 100%;
}

 /* ABOUT */
 #aboutWrapper1{
        height: 500px;
        background-position: center !important;
        margin-top: -1px;
}
 #aboutSecondPic{
     width: 450px !important;
     height: 350px !important;
     padding-right: 20px !important;
     padding-left: 20px !important;
     background-color: white !important;
 }
 #aboutFirstPic{
    border:0px solid #EAEAEB !important;
    width: 450px !important;
    height: 350px !important;
 }
 #picsDiv2{
     padding: 0px !important;
 }
 #aboutWrapper2{
    background: linear-gradient(360deg, white 85%, #EAEAEB 15%);
}
.specialAboutContainer{
    margin-right: 10px;
    margin-left: 10px;
}
.specialAboutContainer2{
    margin-right: 20px;
    margin-left: 20px;
}
.aboutInfoSection{
    padding-right: 0px !important;
}
.aboutInfoSection2{
    padding-left: 30px !important;
}
#AboutInfoDiv2{
    padding: 0px !important;
    background-color: white !important
}
.whatsNextPic{
    padding-left: 0px;
    width: 100%;
    height: 300px;
}
.aboutMiddlePicsLarge{
    height: 500px !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.aboutMiddlePicsSmall{
    height: 400px !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
#picsDiv1{
    background-color: #EAEAEB !important;
    padding: 0px !important;
}
#picsDiv2{
    background-color: #FFFFFF !important;
}



/* SHOP PRODUCTS */
#shopMainHeaderPic{
   
    height:500px !important;
}
.shopProductPics{
   
        width: 100% !important;
        height: 60% !important;
    
 }
 .productsContainer{
    /* padding-right: 80px; */
    padding-left: 80px;
}
.productsTitleMobile{
    /* padding-left: 85px !important */
}
.productsPriceMobile{
    /* padding-right: 55px !important; */
}

 /* Shopping CART */
 .CheckoutHeaders{
     font-size: 25px;
 }
 #shoppingCartHeader{
    font-size: 50px !important;
    margin-top: 10px !important
}

/* SHOP MAIN */
.productsImages{
    /* height: 200px; */
}
.shopLifestyleImages{
    height: 100% !important;
    width: 100%!important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}



/* PRODUCTS SECTION */
.ingredientPics{    
    width: 70%;
    display: block;  
    height: 100%;
    margin-top: 0px;
}
.ingredientPics2{   
    width: 70%;
    display: block;  
    height: 100%;
    margin-top: 0px;
}
.ingredientPics3{   
    width: 70%;
    display: block;  
    height: 100%;
    margin-top: 0px;
}
.shopPlaceHolderImages{
    padding: 0px !important
}
.newsLetterForm{
    width: 250px;    
}
.newsLetterPic{
    width: 20%
}

/* CricketsFLourPage */
.cricketFLourH4{
    margin-left: 20px !important;
  
}
.flourIcons{
    width: 100px;
    height: 100px;
}
.cricketFlourTopPics{
    height: 350px;
    padding-right: 0px;
    padding-left: 0px;
   
 }

/* HOME PAGE */
#mobileGirlPicChange{
    background: url('./images/baiobar girl mountains_mobile.jpg') no-repeat center center  !important ;
    background-position: center;
    background-size: 100% 100%  !important;
    -webkit-background-size:  100% 100%  !important;
    -moz-background-size:  100% 100%  !important;
     -o-background-size:   100% 100%   !important;   
     height: 800px;
}
#upwardDownPic{
    background: url('./images/baiobar girl mountains_mobile2.jpg') no-repeat center center  !important ;
    background-position: center;
    background-size: 100% 100%  !important;
    -webkit-background-size:  100% 100%  !important;
    -moz-background-size:  100% 100%  !important;
     -o-background-size:   100% 100%   !important;  
}
#homeSpacetaker{
    background: url('./images/baiobar girl mountains_mobile.jpg') no-repeat center center  !important ;
    background-position: center;
    background-size: 100% 100%  !important;
    -webkit-background-size:  100% 100%  !important;
    -moz-background-size:  100% 100%  !important;
     -o-background-size:   100% 100%   !important;    
}
.iconParas{
    margin-left: 20px !important;
    padding-right: 0px;
}
.homeIcons{
    width: 100px;
    height: 100px;
}
#homeWrapper1{
    background: url('./images/baiobar home main header image_mobile.jpg') no-repeat center center ;
    background-position: center;
    background-size: 100% 100% !important;
    -webkit-background-size:   100% 100% !important;
    -moz-background-size:   100% 100% !important;
     -o-background-size:   100% 100% !important;
     height: 700px; 
     /* background-position: center ;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size:   cover;
     -moz-background-size:  cover;
      -o-background-size:  cover;
     height: 700px; */
}

.homePicSpecialContainer{
    margin-bottom: 650px;
}
.shopProductIngredientPics{
    width: 100%;
    display: block;
    height: 100%;
}
/* .ingredientPics{    
    height: 400px !important;
    margin-top: 0px;
}
.ingredientPics2{    
    height: 400px !important;
    margin-top: 0px;
}
.ingredientPics3{    
    height: 400px !important;
    margin-top: 0px;
} */
 /* NAVBARMOBILE */
 .uk-offcanvas-content{
    height:850px;
}
#header{
    width: 60%;
}
}

@media only screen and (max-width:800px) { 


}


@media only screen and (max-width: 480px) { 
      /* MODALS */
      .ReactModal__Content, .ReactModal__Content--after-open {
        position: absolute;
        top: 100 !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        border: none !important;
        width: 80% !important;
        height: 500px !important;
    }
    .shopProductPicsModal{
        width: 100%;
        height: 200px;
    }
    #header{
        width: 85%;
    }

    /* Carousel */
    .slider {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        overflow: hidden;
        white-space: nowrap;
      }
      .slider-wrapper {
        position: relative;
        height: 250px;
        width: 100%;
      }
    .nextArrow {
        position: absolute;
        top: 65%;
        right: 40px;
        z-index: 999;
        color: #fff;
      }
      
      .backArrow {
        position: absolute;
        top: 65%;
        left: 40px;
        z-index: 999;
        color: #fff;
      }
      
  
      
   
   /* Shopify Components */
  
.productMobileChange{
    margin-left: 0px !important;
}
.qtyMobileChange{
    margin-left: -10px !important;
}
.subtotalMobileChange{
    margin-left: 20px !important;
}
#inShoppingCartPics{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 65px;
}
.shopProductPics{
   
        width: 100% !important;
        height: 65% !important;
    
 }
 
 .shopProductsDivs{
    padding-right: 40px;
    padding-left: 60px;
}
.productsTitleMobile{
    padding-left: 30px !important
}
.productsPriceMobile{
    padding-right: 0px !important;
}

    /* TOASTIFY POP-UP */
    .Toastify__toast-container--bottom-center{
        bottom: 19em !important;
        margin: auto !important;
        padding-right: 10px !important;
    }
    .Toastify__toast--default {
       width: 80% !important;
       margin: auto !important;
       
      
    }
    .Toastify__toast-container--default {
        width: 100% !important;
        margin: auto !important;
     }
     .Toastify__toast--success{
        width: 80% !important;
        margin: auto !important;
     }    
     .Toastify__toast-container--success{
        width: 80% !important;
        margin: auto !important;
        padding-right: 10px !important;
     }  
     
       
        
    /* About */
    #aboutWrapper1{
        height: 250px;
        background-position: center !important;
    }
    #aboutWrapper2{
        background: linear-gradient(360deg, white 88%, #EAEAEB 12%);
    }
    .aboutStoryText{
        font-size: 50px !important;
    }
    .aboutMiddlePicsLarge{
        height: 350px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .aboutMiddlePicsSmall{
        height: 250px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .whatsNextPic{
        padding-left: 0px;
        width: 100% !important;
        height: 200px !important;
    }
    .baiobarWordsPic{
        width: 150px;
        height: 50px;
    }
    .aboutWhatsNextText1{
        margin-bottom: 0px !important;
    }
    .aboutWhatsNextText2{
        margin-top: 0px !important;
    }


    /* Instagram Component */
    .instagramPics{
        width: 100%;
        display: block;
        height: 100%;
    }
    
   

    /* HOME */
    #mobileGirlPicChange{
        background: url('./images/baiobar girl mountains_mobile.jpg') no-repeat center center  !important ;
        background-position: center;
        background-size: 100% 100%  !important;
        -webkit-background-size:  100% 100%  !important;
        -moz-background-size:  100% 100%  !important;
         -o-background-size:   100% 100%   !important;   
         height: 450px;
    }
    .homeHeader1{
        font-size: 40px !important;
    }
    #homeWrapper1{
        background: url('./images/baiobar home main header image_mobile.jpg') no-repeat  ;
        background-position: right bottom;
        background-size: 78% 78% !important;
        -webkit-background-size:   78% 78% !important;
        -moz-background-size:  78% 78% !important;
         -o-background-size:   78% 78% !important;
         height: 550px; 
         /* background-position: center ;
         background-repeat: no-repeat;
         background-size: cover;
         -webkit-background-size:   cover;
         -moz-background-size:  cover;
          -o-background-size:  cover;
         height: 550px; */
    }
    .instagramTextAllPages{
        font-size: 15px;
    }
    .homeH4Copy{
        padding-right: 0px !important;
    }
    #homeSpacetaker{
        background: url('./images/baiobar girl mountains_mobile.jpg') no-repeat center center  !important ;
        background-position: center;
        background-size: 100% 100%  !important;
        -webkit-background-size:  100% 100%  !important;
        -moz-background-size:  100% 100%  !important;
         -o-background-size:   100% 100%   !important;         
    }
    .homePicSpecialContainer{
        margin-bottom: 750px;
    }
    

    /* ShopProducts */
    #shopMainHeaderPic{
   
        height:250px !important;
    }
    #productPageLargeText{
        font-size: 30px !important;
    }
    .shopProductIngredientPics{
        width: 100%;
        display: block;
        height: 100%;
    }
    .productsContainer{
        /* padding-right: 80px; */
        padding-left: 20px;
    }

    /* Shopping CART */
    #shoppingCartHeader{
        font-size: 35px !important;
        margin-top: 10px !important
    }
    .CheckoutHeaders{
        font-size: 25px !important;
    }
    .divshoppingCartChange{
        margin-right: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 15px !important;
    }
    #lineItemContainer{
        margin-right: 0px !important;
        margin-left: -30px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #emptyCartMessage{
        margin-left: -30px !important;
    }

    /* SHOP MAIN */
    .productsImages{
        /* height: 125px; */
    }
    .shopLifestyleImages{
        height: 100% !important;
    width: 100%!important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

/* PRODUCTS SECTION */
.ingredientPics{   
  
    height: 100% !important;
    margin-top: 0px;
    width: 100%
}
.ingredientPics2{    
    height: 100%  !important;
    margin-top: 0px;
    width: 100%
}
.ingredientPics3{    
    height: 100%  !important;
    margin-top: 0px;
    width: 100%
}

/* cricket flour */
.cricketFlourTopPics{
    height: 150px;
    padding-right: 0px;
    padding-left: 0px;
   
 }
 /* NAVBARMOBILE */
.uk-offcanvas-content{
    height:650px;
}


}

@media only screen and (max-width: 350px) {
    /* MODALS */
    .ReactModal__Content, .ReactModal__Content--after-open {
        position: absolute;
        top: 100 !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        border: none !important;
        width: 80% !important;
        height: 450px !important;
    }
    .shopProductPicsModal{
        width: 100%;
        height: 150px;
    }
    #addToCartButton{
        font-size: 10px !important; 
    }


    #header{
        width: 80%;
    }

    /* carousel */
    .nextArrow {
        position: absolute;
        top: 72%;
        right: 40px;
        z-index: 999;
        color: #fff;
      }
      
      .backArrow {
        position: absolute;
        top: 72%;
        left: 40px;
        z-index: 999;
        color: #fff;
      }

    /* Instagram Component */
    .instagramPics{
        width: 100%;
        display: block;
        height: 100%;
    }
    .instagramTextAllPages{
        font-size: 13px;
    }

    /* SHOPIFY COMPONENTS */
    .shopProductPics{
        margin-top: 0px !important;
            width: 100% !important;
            height: 70% !important;        
     }
     
     .shopProductsDivs{
        padding-right: 10px;
        padding-left: 40px;
    }
    .productsTitleMobile{
        padding-left: 30px !important
    }
    .productsPriceMobile{
        padding-right: 0px !important;
    }
     .productMobileChange{
        margin-left: 0px !important;
    }
    .qtyMobileChange{
        margin-left: -10px !important;
    }
    #inShoppingCartPics{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
    }

    /* ingredients pics */
    .ingredientPics{    
        height: 250px !important;
        margin-top: 0px;
        width: 100%
    }
    .ingredientPics2{    
        height: 250px !important;
        margin-top: 0px;
        width: 100%
    }
    .ingredientPics3{    
        height: 250px !important;
        margin-top: 0px;
        width: 100%
    }

/* about */

.whatsNextPic{
    padding-left: 0px;
    width: 100% !important;
    height: 150px !important;
}
#aboutWrapper2{
    background: linear-gradient(360deg, white 88.5%, #EAEAEB 11.5%);
}
/* SHOP */
.shopLifestyleImages{
    height: 100% !important;
    width: 100%!important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.shopProductIngredientPics{
    width: 100%;
      display: block;
      height: 100%;
}
/* NAVBARMOBILE */
.uk-offcanvas-content{
    height:550px;
}
.secondBorderText{
    font-size: 14px !important;
}
/* Home */
#homeWrapper1{
    background: url('./images/baiobar home main header image_mobile.jpg') no-repeat  ;
    background-position: right bottom;
    background-size: 62% 62% !important;
    -webkit-background-size:   62% 62% !important;
    -moz-background-size:   62% 62% !important;
     -o-background-size:    62% 62% !important;
     height: 550px; 
     /* background-position: center ;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size:   cover;
     -moz-background-size:  cover;
      -o-background-size:  cover;
     height: 550px; */
}
#mobileGirlPicChange{
   
     height: 460px;
}




 }

